#drop_zone {
  background: rgb(245, 243, 243);
  height: 100vh;
}

#dropBoxText {
  border: 1px dashed rgb(0, 14, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
